<h1>Stupid Coaching</h1>
<div>
  <div>
    <div>
      <p id="question"><%= @question %> -you</p>
    </div>
    <div>
      <p id="answer" ><%= @answer %> -coach</p>
      
    </div>
  </div>
  <a href="ask">ask a new question</a>
</div>
